.center-wrapper {
    margin: 0 auto;
    width: 1480px;
  }
  
  .order-header{
    height: 110px;
    background: #111112;
    
  }
  
  .order-header .phone-block{
    border:none;
    margin-right: 0;
  }
  
  .order-header__body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2E2E30;
    padding:23px 0;
    max-height: 110px;
  }
  
  .order-header .logo img{
    width: 113px;
  }
  
  .backward-link{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 167%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #C7AE96;
    text-decoration: none;
    margin-left: 110px;
    margin-right:auto;
  }
  
  .backward-link img{
    margin-right: 5px;
  }
  
  .order-page{
    margin: 70px 0 95px;
  }
  
  .order-page .center-wrapper{
    display: flex;
    justify-content: space-between
  }
  
  .order-page-main{
    padding-top: 50px;
    margin-right: 125px;
  }
  
  .order-steps {
    counter-reset: num;
  }
  
  .page-title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .step-title-block{
    width: 100%;
    margin-top:-20px;
  }
  
  .step-title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    width: 100%;
    margin-top: 7px;
  }
  
  .order-steps .order-step {
    padding-left: 42px;
    position: relative;
    padding-bottom: 50px;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-step:nth-child(3) .step-title-block,
  .order-step:nth-child(4) .step-title-block{
    margin-top: 0;
  }
  
  .order-steps .order-step:before {
    content: counter(num);
    counter-increment: num;
    position: absolute;
    width: 30px;
    height: 30px;
    /* border: 3px solid #1C498A; */
    border: 2px solid #C7AE96;
    box-sizing: border-box;
    left: 0;
    border-radius: 50%;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .order-steps .order-step.success:before {
    /* font-family: "icon-font", sans-serif; */
    /* content: "\E800"; */
    /* background-color: #1C498A; */
    /* color: #fff; */
  }
  
  .field-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-top: 25px;
    position:relative;
  }
  
  label sup{
    color:#C7AE96;
  }
  
  .field-group.col-6 {
    flex: calc(50% - 30px) 0 0;
  }
  
  .field-group.col-12 {
    flex: 100% 0 0;
  }
  
  
  .field-group input{
    background: #232324;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 10px;
    padding:15px 27px;
    height: 60px;
    width: 100%;
    outline: none;
    color:#fff;
    transition: all .3s;
  }
  
  .field-group input.not-empty{
    background-color: #111112;
  }
  
  .field-group input:hover{
    background: #111112;
  }
  
  .field-group input:focus, 
  .field-group input:active{
    background: #111112;
  }
  
  .field-group input[type=text]+label.placeholder,
  .field-group textarea+label.placeholder{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #636363;
    position: absolute;
    transform: translate(27px, 30%);
    transition: all .3s;
  }
  
  .field-group input[type=text]:focus+label.placeholder,
  .field-group textarea:focus+label.placeholder,
  .field-group input[type=text].not-empty+label.placeholder,
  .field-group textarea.not-empty+label.placeholder{
    background-color: #111112;
    font-size: 12px;
    transform: translate(27px, -13px);
  }
  
  .field-group input[type=text].has-error {
    background: #251A1A;
    border: 1px solid #501515;
  }
  
  .field-group input[type=text].has-error+.error-field{
    display: block;
  }
  
  .field-group.col-12 {
    width: calc(100% - 30px);
  }
  
  .field-group.col-3 {
    width: calc(25% - 30px);
    display: inline-flex;
    /* margin-right: 30px; */
    margin-right: 26px;
  }
  
  
  .field-group textarea {
    width: 100%;
    height: 180px;
    resize: none;
    margin-top: 25px;
    font-size: 14px;
    color: #636363;
    background: #232324;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 27px;
    outline:none;
    color:#fff;
  }
  
  .field-group textarea:focus{
    background-color: #111112;
  }
  
  .radio-group {
    flex: calc(50% - 20px) 0 0;
  }
  
  .radio-group input[type=radio] {
    display: none;
  }
  
  .radio-group input[type=radio]:checked ~ label:before {
    background: #C7AE96;
    border-color: #C7AE96;
    content: "\e818";
    color:#111112;
    font-size: 12px;
  }
  
  .radio-group label {
    padding: 30px 30px 25px 80px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #202020;
    position: relative;
    width: 100%;
    background: #232324;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 10px;
    transition:all .3s;
  }
  
  .radio-group label:hover{
    border: 1px solid #A59789;
  }
  
  
  .radio-group label:before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-18px);
    transition: .3s;
    font-family: "fontello", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #111112;
    background: #111112;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
  }
  
  .radio-group label span{
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    /* line-height: 214%; */
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #636363;
  }
  
  .radio-group label span:first-child{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    margin-top: 0;
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .radio-tab {
    display: flex;
    flex: 100% 0 0;
  }
  
  .radio-tab .field-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .radio-tab .field-group input{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .radio-tab label{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 167%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #636363;
  }
  
  
  .radio-tab label sup{
    color:#C7AE96;
  }
  
  .delivery-tab, .bymslf-tab{
    margin-top:26px;
    display: none;
  }
  
  .delivery-tab.checked, .bymslf-tab.checked{
    display: block;
  }
  
  .delivery-tab input[type="text"]~label.placeholder{
    transform: translate(27px, calc(30% + 20px));
  }
  
  .delivery-tab input[type="text"]:focus~label.placeholder,
  .delivery-tab input[type="text"].not-empty~label.placeholder{
    transform: translate(27px, 5px);
  }
  
  .delivery-tab textarea~label.placeholder{
    transform: translate(27px, calc(30% + 32px));
  }
  
  .delivery-tab textarea:focus~label.placeholder,
  .delivery-tab textarea.not-empty~label.placeholder{
    transform: translate(27px, 14px);
  }
  
  .bymslf-tab #map{
    max-width: calc(100% - 30px);
    height: 450px;
  }
  
  .bymslf-tab  #map{
    max-height: 450px;
    overflow:hidden;
  }
  
  .doorphone {
    display: none;
  }
  
  .doorphone ~ label {
    padding-left: 30px;
    margin-top: 10px;
    position: relative;
    font-size: 16px;
    line-height: 187%;
    transition: all .3s;
  }
  
  .doorphone ~ label:hover{
    color: #A59789;
  }
  
  .doorphone ~ label:before {
    content:"";
    font-family: "fontello", sans-serif;
    color: #111112;
    width: 20px;
    height: 20px;
    transition: .3s;
    position: absolute;
    left: 0;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232324;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #3F3F3F;
    font-size: 10px;
    transition: all .3s;
  }
  
  .doorphone ~ label:hover:before{
    border: 1px solid #A59789;
  }
  
  .doorphone:checked ~ label:before {
    content: "\e818";
    background: #C7AE96;
    border-color:#C7AE96;
  }
  
  .doorphone:checked ~ label:hover{
    color: #A59789;
  }
  
  .doorphone:checked ~ label:hover:before{
    background: #A59789
  }
  
  .error-field {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 214%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8C2828;
    display: none;
  }
  
  .choose-time-tab{
    display: none;
  }
  
  .choose-time-tab.checked{
    display: flex;
  }
  
  
  .nice-select{
    background: #232324;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 187%; */
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #636363;
  }
  
  .nice-select:after{
    border-color: #C7AE96 transparent transparent;
  }
  
  .nice-select:hover {
    background: #111112;
    border: 1px solid #3F3F3F;
    border-radius: 10px;
  }
  
  .nice-select:active, .nice-select.open {
    background: #232324;
    border: 1px solid #3F3F3F;
    border-radius: 10px 10px 0 0;
  }
  
  .nice-select span{
    text-transform: unset;
  }
  
  .nice-select:hover .current{
    color: #636363;
  }
  
  .nice-select.open .list{
    background: #232324;
    border: 1px solid #3F3F3F;
    border-radius: 0 0 10px 10px;
  }
  
  .nice-select .option {
    cursor: pointer;
    font-weight: 300;
    line-height: 1.2;
    list-style: none;
    outline: none;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 10px 0;
    margin: 0;
    white-space: normal;
    text-transform: none;
    font-weight: 500;
  }
  
  .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: transparent;
    color: #a59789;
  }
  
  .nice-select .option:not(.selected):hover {
    color: #a59789;
  }
  
  
  .order-summary__outer {
    width: 474px;
    flex-shrink: 0;
    
  }
  
  .order-summary{
    background: linear-gradient(180deg, #1E1E20 0%, #1E1E20 100%);
    border-radius: 20px;
    padding: 50px 40px;
    /* position:fixed;
    top:70px; */
  }
  
  .order-summary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .order-summary__title {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .order-summary__summary-count{
  
  }
  
  .order-summary__list {
    list-style: none;
  }
  
  .order-summary__item {
    min-height: 75px;
    padding: 18px 0 13px 0;
    border-bottom: 1px solid #2E2E30;;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #202020;
  }
  
  .order-summary__item:not(.order-product-item){
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .order-summary__item-title, .order-summary__item-value{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .order-summary__item-title img{
    margin-right: 11px;
  }
  
  .order-summary__sum-title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .order-summary__sum{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .order-summary__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
  }
  
  .order-summary__footer .btn {
    flex: 100% 0 0;
    margin-top: 20px;
  }
  
  .order-product-item{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .order-product-item__top-line{
    display: flex;
    justify-content: space-between;
  }
  
  .order-product-item__bottom-line{
    margin-top: 11px;
  }
  
  .order-product-item__title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }
  
  .order-product-item__price{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-right: 25px;
    margin-left: auto;
    flex-basis: 60px;
    flex-shrink: 0;
  }
  
  .order-product-item__del-btn{
  
  }
  
  .order-product-item__count{
    margin: 0;
  }
  
  .order-footer{
    height: 110px;
  }
  
  .order-footer__body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2E2E30;
    padding: 36px 0 38px;
  }
  
  .order-footer .logo img{
    width: 113px;
  }